Django==1.9.2
PyYAML==3.11
RandomWords==0.1.12
SQLAlchemy==1.0.11
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.20
dateparser==0.3.2
django-celery==3.1.17
django-pgfields==1.4.4
django-pgjsonb==0.0.16
html5lib==0.9999999
jdatetime==1.7.2
kombu==3.0.33
lxml==3.5.0
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.7
six==1.10.0
ujson==1.35
umalqurra==0.2
