<html>
    {% load staticfiles %}
    <head>
        <link rel="shortcut icon" href="{% static "/favicon.ico" %}">
        <script type="text/javascript" src="{% static "lib/jquery/1.11.1/jquery.min.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/3.0.2/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/gargantext/menu.css"%}"/>
        <!-- <script type="text/javascript" src="{% static "lib/gargantext/help.js" %}"></script> -->
        {% block css %}
        {% endblock %}

    </head>

    <body>
        <!-- Fixed navbar -->
        <div id="dafixedtop" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-inner">
                    <a class="navbar-brand" style="line-height:15px; height:10px; padding: 10px 10px;" href="/"><img src="{% static "img/logoSmall.png"%}" title="Back to home."></a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/about/" title="More informations about the project, its sponsors and its authors.">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                About
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li><a href="/projects/" title="All your projects are here.">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                Projects
                            </a>
                        </li>
                        {% endif %}
                        {% if project %}
                        <li><a href="/projects/{{project.id}}">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                {{project.name | truncatechars:15}}
                            </a>
                        </li>
                        {% endif %}
                        {% if corpus %}
                        <li><a href="/projects/{{project.id}}/corpora/{{corpus.id}}">
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                {{corpus.name | truncatechars:25}}
                            </a>
                        </li>
                        {% endif %}

                        {% if view == "graph" %}
                        <li id="graph-rename" style="padding:15">
                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                          <span id="graph-name" class="editable" ondblclick="makeEditable(this)">
                            Name your graph
                          </span>
                        </li>
                        <li style="padding:15">
                          <button class="hide" onclick="submitName(this)"></button>
                          <!-- £TODO put styles in a separate css file -->
                          <div id="handmade-popover" class="hide popover right" style="height: 42px; top:4px; min-width:100px; width:135px; display:block">
                            <div class="arrow"></div>
                            <div id="handmade-popover-content" class="minimsg popover-content">
                                Submitting...
                            </div>
                          </div>
                        </li>
                        {% endif %}
                    </ul>



                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle navbar-text" data-toggle="dropdown" title="That is your username">
                                <i class="icon-user"></i>
                                <span class="glyphicon glyphicon-user" aria-hidden="true" style="color:white"></span>
                                {{ user.username | truncatechars:15}}
                                <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a
                                        tabindex="-1" target="blank" title="Send us a message (bug, thanks, congrats...)"
                                        href='https://www.iscpif.fr/gargantext-feedback-and-bug-report/' >

                                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                        Report Feedback

                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a tabindex="-1" href="/auth/logout"
                                        title="Click here to logout especially on public devices">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                        Logout
                                    </a></li>
                                {% else %}
                                <li><a tabindex="-1" href="/auth/login">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                        Login
                                    </a></li>
                                {% endif %}
                            </ul>
                        </li>
                        
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="lang" data-lang="{{user_parameters.languages}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img value="{{user_parameters.language}}" src="/static/img/{{user_parameters.language}}.png" width="25%"/>
                            {{user_parameters.language}}
                            <i class="caret"></i>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="lang">

                            {% for lang in languages %}
                            {% if lang != user_parameters.language %}
                            <li class="dropdown-item"><a class="new_lang" data-lang="{{lang}}"><img value="{{user_parameters.language}}" src="/static/img/{{lang}}.png" width="25%"/> {{lang}} </a></li>
                            {% endif %}
                            {% endfor %}


                          </ul>
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
            {% if corpus %}
            <div class="container">
                    <ul id="corporatop" class="nav nav-tabs navbar-static-top nav-justified">
                        <li>
                                <a type="button" class="btn btn-default {% if view == 'titles' %} active {% endif %}"
                                    onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/'"
                                    data-target='#' href='#'>
                                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                                     &nbsp;Documents
                                </a>
                        </li>

                        <li>
                                <a type="button" class="btn btn-default {% if view == 'sources' %} active {% endif %}"
                                        onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/sources'"
                                        data-target='#' href='#'>
                                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                    Sources
                                </a>
                        </li>

                        <!--
                        <li>
                                <a type="button" class="btn btn-default {% if view == 'authors' %} active {% endif %}"
                                        onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/authors'"
                                        data-target='#' href='#'>Authors
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </a>
                        </li>
                        -->

                        {% for state in corpus.hyperdata.statuses %}
                            {% if state.action == "Workflow" %}
                                {% if state.complete %}



                                    <li>
                                            <a type="button" class="btn btn-default {% if view == 'analytics' %} active {% endif %}"
                                                onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/analytics'"
                                                data-target='#' href='#'>

                                                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                                                Analytics
                                            </a>
                                    </li>


                                    <li class="dropdown">
                                        <a href="#graph" role="button" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="That is your username">
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                        Graphs
                                        </a>
                                        <i class="caret"></i>
                                    <ul class="dropdown-menu">
                                            <li>
                                                <a tabindex="-1"
                                                    onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/myGraphs'"
                                                    data-target='#' href='#'>My Graphs
                                                </a>
                                            </li>

                                            <li>
                                                <a tabindex="-1"
                                                    data-url="/projects/{{project.id}}/corpora/{{ corpus.id }}/explorer?field1=ngrams&amp;field2=ngrams&amp;distance=conditional&amp;bridgeness=5" onclick='gotoexplorer(this)'  >With conditional distance        </a>
                                            </li>
                                            <li>
                                                <a tabindex="-1"
                                                    data-url="/projects/{{project.id}}/corpora/{{ corpus.id }}/explorer?field1=ngrams&amp;field2=ngrams&amp;distance=distributional&amp;bridgeness=5" onclick='gotoexplorer(this)'  >With distributional distance</a>
                                            </li>



                                    </ul>
                                    </li>

                                    <li>
                                        <a type="button" class="btn btn-default {% if view == 'terms' %} active {% endif %}"
                                            onclick="javascript:location.href='/projects/{{project.id}}/corpora/{{ corpus.id }}/terms'"
                                            data-target='#' href='#'>
                                            <span class="glyphicon glyphicon-text-width" aria-hidden="true"></span>
                                            Terms
                                        </a>
                                    </li>




                                    {% endif %}
                                {% endif %}
                        {% endfor %}


                    </ul>
            </div>
            {% endif %}
        </div>
        <!--/.nav-collapse -->

        {% block corpusBannerTop %}
            {% if corpus %}
                {% if view != "graph" %}
                    <div class="container theme-showcase">
                        <div class="jumbotron" style="margin-bottom:0">
                            <br>
                            <br>
                            <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>
                                            <a href="/projects/{{project.id}}">
                                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                                {{ project.name | truncatechars:50}}
                                            </a>
                                        </h3>
                                    </div>
                                    <!-- export button -->
                                    <div class="col-md-6">

                                        {% if view == 'terms'  %}
                                        <a  id="export_terms" class="help btn pull-right">
                                        </a>
                                        <a class="btn btn-primary exportbtn pull-right" role="button"
                                            href="/api/ngramlists/export?corpus={{corpus.id}}"
                                            title="Export terms table in CSV">
                                            Export terms table &nbsp; <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        </a>



                                        {% elif view == 'titles'  %}

                                        <a  id="export_corpus" class="help btn pull-right">
                                        </a>
                                        <a class="btn btn-primary exportbtn pull-right" role="button"
                                            href="/api/nodes?parent_id={{corpus.id}}&types[]=DOCUMENT&pagination_limit=100000&formated=csv"
                                            title="Export full corpus in CSV">

                                            Export corpus &nbsp;

                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>

                                        </a>



                                        {% else  %}
                                        <!-- TODO export source table -->
                                        <!-- <a  id="export_sources" class="help">

                                        </a> -->
                                        <!-- <a id="export_sources" class="help btn btn-primary exportbtn pull-right" role="button"
                                            href="/api/nodes?parent_id={{corpus.id}}&types[]=DOCUMENT&pagination_limit=100000&formated=csv"
                                            title="Export full corpus in CSV">

                                            Export sources &nbsp;

                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>

                                        </a><span class="help" id="export_sources"> -->
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                      </span>
                                    </div>
                                    <div class="col-md-6">
                                            <h3>
                                                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                                                {{ resourcename | truncatechars:20 }}
                                            </h3>
                                            <h3>
                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                                {{ corpus.name | truncatechars:30 }}
                                            </h3>

                                    </div>
                                    <div class="col-md-5">
                                            <h3>
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ corpus.date }}
                                            </h3>
                                            <h3>
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                                Author(s): {{ user.username | truncatechars:15}}
                                            </h3>

                                    </div>
                                </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endblock %}


        {% block content %}
        {% endblock %}

        {% block corpusBannerBottom %}
        {% endblock %}

        <hr>

        <footer>
            <p>
                Gargantext
                <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
                , version 3.0.5.8,
                <a href="http://www.cnrs.fr" target="blank" title="Institution that enables this project.">
                    Copyrights
                    <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                    CNRS {{ date.year }}
                </a>
                <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="blank" title="Legal instructions of the project.">
                    , Licence aGPLV3
                </a>
                .
            </p>
        </footer>


        <!-- Place at the end of the document so the pages load faster -->
        {% load staticfiles %}


        <!--
        <script type="text/javascript" src="{% static "lib/jquery/pie-chart/jquery.easypiechart.js"%}"></script>
        <script type="text/javascript">
            $(function() {
                $('.chart').easyPieChart({
                    //your configuration goes here
                    size : 50
                });
            });
        </script>
        -->

        <script type="text/javascript" src="{% static "lib/bootstrap/3.2.0/bootstrap.min.js" %}"></script>

        <script type="text/javascript">
            // initializes the popover elements with jquery
            $(function () { $("[data-toggle='popover']").popover({
                html: true,
                title: function() {
                    return $("#popover-head").html();
                },
                content: function() {
                    return $("#popover-content").html();
                }
            });});
        </script>



        <script type="text/javascript">

          // constrains the graph request with startdate & enddate if present
          // TODO move in another template (only for pages that have dynacharts with a start/end)
          //      and then in other pages replace all links like onclick='gotoexplorer(this) by normal links
          function gotoexplorer(elem) {

            var url_ = $(elem).data("url")
            // undef or false
            if (typeof TheBuffer == "undefined" || !TheBuffer) {
              return window.open(url_,'_blank');
            }

            var current_timerange = TheBuffer
            var time_limits = [new Date(oldest[0],oldest[1]-1,oldest[2]), new Date(latest[0],latest[1]-1,latest[2] ) ];
            time_limits[0] = new Date(time_limits[0].setDate(time_limits[0].getDate()-1) );
            time_limits[1] = new Date(time_limits[1].setDate(time_limits[1].getDate()+1) );

            if( ( +current_timerange[0]===+time_limits[0] ) &&  ( +current_timerange[1]===+time_limits[1] ) ) {
              url_ = url_ // rien
            } else {
              var start__ = new Date(current_timerange[0].setDate(current_timerange[0].getDate()+1) );
              var end__ = new Date(current_timerange[1].setDate(current_timerange[1].getDate()-1) );
              var start_ = start__.getFullYear()+"-"+(start__.getMonth()+1)+"-"+(start__.getDay()+1)
              var end_ = end__.getFullYear()+"-"+(end__.getMonth()+1)+"-"+(end__.getDay()+1)
              url_ += "&start=" + start_ + "&end="+end_;
              // url_ += "&start=" + start__.getFullYear() + "&end="+end__.getFullYear();
            }
            return window.open(url_,'_blank');
          }

        </script>



        {% if view == "graph" %}
        <!-- garganrest could be used here to update node's names if we add POST -->
        <script type="text/javascript" src="{% static "lib/gargantext/garganrest.js" %}"></script>
        <!-- Graph renaming (load after garganrest)-->
        <script type="text/javascript" src="{% static "lib/gargantext/graph_renamer.js" %}"></script>
        <!-- <script type="text/javascript" src="{% static "lib/gargantext/help.js" %}"></script> -->
        {% endif %}
        <script type="text/javascript" src="{% static "lib/gargantext/help.js" %}"></script>
        {% if debug == False %}

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.iscpif.fr/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p>
                <img src="//piwik.iscpif.fr/piwik.php?idsite=2" style="border:0;" alt="" />
            </p>
        </noscript>
        <!-- End Piwik Code -->
        {% endif %}

    </body>
</html>
