<ul class="noselection">
  <li>{[{level}]}<span ng-if="category !== null"> {[{category}]}</span></li>
  <li class="miamword" ng-if="local_miamlist === true" ng-click="onClick($event, 'post', '{[{ miamListId }]}', 'local')">add to miam-list</li>
  <li class="miamword"  ng-if="local_miamlist === false" ng-click="onClick($event, 'delete', '{[{ miamListId }]}', 'local')">remove from miam-list</li>

  <li class="stopword" ng-if="local_stoplist === true" ng-click="onClick($event, 'post', '{[{ stopListId }]}', 'local')">add to local stop-list</li>
  <li class="stopword" ng-if="local_stoplist === false" ng-click="onClick($event, 'delete', '{[{ stopListId }]}', 'local')">remove from local stop-list</li>

  <!--<li class="stopword" ng-if="global_stoplist === true" ng-click="onClick($event, 'post', 'stoplist', 'global')">add to global stop-list</li>
  <li class="stopword" ng-if="global_stoplist === false" ng-click="onClick($event, 'delete', 'stoplist', 'global')">remove from global stop-list</li>-->
</ul>
