<ul class="noselection">
  <li>{{level}}<span ng-if="category !== null"> {{category}}</span></li>
  <li class="miamword" ng-if="local_miamlist === true" ng-click="onClick($event, 'create', 'miamlist', 'local')">add to miam-list</li>
  <li class="miamword"  ng-if="local_miamlist === false" ng-click="onClick($event, 'delete', 'miamlist', 'local')">remove from miam-list</li>

  <li class="stopword" ng-if="local_stoplist === true" ng-click="onClick($event, 'create', 'stoplist', 'local')">add to local stop-list</li>
  <li class="stopword" ng-if="local_stoplist === false" ng-click="onClick($event, 'delete', 'stoplist', 'local')">remove from local stop-list</li>

  <li class="stopword" ng-if="global_stoplist === true" ng-click="onClick($event, 'create', 'stoplist', 'global')">add to global stop-list</li>
  <li class="stopword" ng-if="global_stoplist === false" ng-click="onClick($event, 'delete', 'stoplist', 'global')">remove from global stop-list</li>
</ul>
