
{% extends "pages/menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "lib/bootstrap/3.0.2/bootstrap.css" %}">
<script type="text/javascript" src="{% static "lib/jquery/1.11.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/gargantext/garganrest.js" %}"></script>
<link rel="stylesheet" href="{% static "lib/jquery/1.11.2/jquery-ui.css" %}">
<script type="text/javascript" src="{% static "lib/morris/morris.min.js" %}"></script>
<link rel="stylesheet" href="{% static "lib/morris/morris.css" %}">

<script src="{% static "lib/raphael/raphael-min.js"%}"></script>
<style type="text/css">
    .ui-autocomplete {
        z-index: 5000;
    }
    .ui-autocomplete .ui-menu-item {
        font-size:x-small;
    }

    /* for wait gif in buttons */
    .wait-img-active {
        margin-left: .5em;
    }

    /* hover red like btn_danger */
    .btn.delete:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }
</style>

{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <div class="row">
        <div class="col-md-4">
            <h1>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                Projects
            </h1>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <p>
            <br>
            <button id="add" type="button" class="btn btn-primary btn-lg help" data-container="body" data-toggle="popover" data-placement="bottom">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add a new project
            </button>
            <div id="popover-content"  class="hide">
                <div id="createForm" class="form-group">
                    {% csrf_token %}
                    <div id="status-form" class="collapse">
                    </div>
                    <div class="row inline">
                      <label class="col-lg-3" for="inputName" ><span class="pull-right">Name:</span></label>
                      <input class="col-lg-8" type="text" id="inputName" class="form-control">
                    </div>

                    <div class="row inline">
                      <div class="col-lg-3"></div>
                      <button id="createProject" class="btn btn-primary btn-sm col-lg-8 push-left">Add Project</button>
                      <div class="col-lg-2"></div>
                    </div>
                  </div>
              </div>
        </p>
        </div>
    </div>
</div>

<div class="container">
    <!-- GENERIC STATUS INFO -->
    <div id="status" class="row col-lg-12 collapse">

      <div id="status-msg" class="alert">
      </div>

    </div>
    <!-- CHECKBOX EDITION -->
    <div class="row collapse" id="editor">
          <button title="delete selected project" type="button" class="btn btn-danger" id="delete">
            <span class="glyphicon glyphicon-trash " aria-hidden="true" ></span>
          </button>
          <!--
          <button title="edit selected project" type="button" class="btn btn-warning" id="edit">
            <span class="glyphicon glyphicon-pencil " aria-hidden="true" onclick="editProjects()"></span>
          </button> -->
          <!-- <button type="button" class="btn btn-info" id="recalculate">
                  <span class="glyphicon glyphicon-refresh " aria-hidden="true" onclick="recalculateProjects()"></span>
          </button>
          -->

    </div>

    <br />



    <div class="row container" id="projects">
            <!--here loading projectlist from GET /projects-->
    </div>

    <img id="wait-img" width="90%" style="display:none" src="{% static "img/ajax-loader.gif"%}"></img>

</div>

<script type="html/tpl" id="project_item">
    <div id="{url}" class="item row">
        <h3>
            <div class="col-md-6 content">
                <input type="checkbox" value="{url}" data-id="{id}">
                <a href="{url}">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <span class="item_name">{name}</span>
                </a>
            </div>
        </h3>
        <div id="project_detail" class="col-md-4 content">
            <div id="item-editor">

            <!-- DELETE PROJECT -->
            <button type="button" class="btn btn-default delete pull-right" data-url="{url}" >
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>

            <!-- EDIT PROJECT-->
            <button class="btn btn-default edit pull-right" data-id="{id}" data-url="{url}" data-toggle="collapse">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>


            <!-- REFRESH PROJECT -->
            <!--
            <button type="button" class="btn btn-default refresh pull-right" data-id="{id}">
            <span class="glyphicon glyphicon-refresh pull-right" aria-hidden="true"></span>
            </button>
             -->
             <!-- GET Project -->
             <a href="{url}">
                 <button type="button" title="see project" class="btn btn-default show pull-right" aria-label="Left Align">
                     <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                 </button>
             </a>

        </div>

        <div id="project_status">
        <!-- Here add nb of the corpus? -->
        </div>

      </div>
    </div>
    <div id="editForm-{id}" class="collapse ">

      <!-- status of the form -->
      <div id="status-form" class="collapse"></div>
      <b>Name:</b><input  type="text" id="name-{id}" />
      <button id="edit-submit-{id}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"  aria-hidden="true"></span></button>
      <button id="edit-cancel-{id}" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-remove"  aria-hidden="true"></span></button>
    </div>
</script>

<style type="text/css">
    label {
        padding:10px;
        margin:0 0 10px;
        display:block;
    }
    label:hover {
        background:#eee;
        cursor:pointer;
    }
</style>

<script type="text/javascript" src="{% static "lib/gargantext/garganrest_projects.js" %}"></script>
<script type="text/javascript" src="{% static "lib/gargantext/help.js" %}"></script>
<script type="text/javascript">

    getProjects();
    // $(document).on("input#inoutName").bind('keypress', function(e) {
    //         if(e.keyCode==13){
    //              $('#createProject').trigger('click');
    //          }
    //     });
    $(document).on("click","#createProject", function(e){
      //alert("clicked");
      //
      //resetStatusForm("#createForm");
      //$('input#inputName').val("");
      createProject();
      $('#add').on('hidden.bs.popover', function () {
      // do something…
        resetStatusForm("#createForm");
      })

    })

</script>

{% endblock %}
