{% extends "pages/menu.html" %}

{% block css %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/d3/dc.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery/jquery.dynatable.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/gargantext/tables.css"%}"/>

<script type="text/javascript" src="{% static "js/d3/d3.js"%}"></script>
<script type="text/javascript" src="{% static "js/d3/crossfilter.js"%}"></script>
<script type="text/javascript" src="{% static "js/d3/dc.js"%}"></script>

{% endblock %}


{% block content %}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div id="monthly-move-chart">
                <center>
                    Select a frequency group in the chart with blue bars to zoom in
                <p align="center">
                <a class="btn btn-xs btn-default" role="button" href="/chart/corpus/{{ corpus.id }}/data.csv">Save</a>
                <a class="btn btn-xs btn-default" href="javascript:volumeChart.filterAll();dc.redrawAll();">Reset</a></p>
                <!-- <p style="font-size:70%">
                    <b>x</b>: amount of documents for the journal
                    <b>y</b>: number of journals with that amount
                </p> -->
                <div class="clearfix"></div>
                </center>
            </div>
        </div>
        <div class="row">
            <div id="monthly-volume-chart"></div>
        </div>
        <div id="content_loader">
          <br>
          <center>
            <!-- <img width="10%" src="{% static "img/ajax-loader.gif"%}"></img> -->
          </center>
          <br>
        </div>

        <div class="row">
            <div class="panel panel-default">

                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <!-- Final_UpdateTable redraws the dynatable if necessary -->
                        <p id="corpusdisplayer" onclick='Final_UpdateTable("click")' class="btn btn-primary btn-lg">Journals
                        </p>
                    </a>
                  </h4>
                </div>

                <div id="journal_table" class="panel-collapse collapse in no-transition" role="tabpanel">
                    <div class="panel-body">
                      <div id="div-table">
                          <!-- (table id="my-ajax-table") dynamically set by Journals_dyna_chart_and_table -->
                      </div>
                    </div>
                </div> <!-- /div panel-collapse -->

            </div> <!-- /div panel -->
        </div> <!-- /row with the dynatable panels -->

    </div> <!-- /jumbotron -->
</div> <!-- /container -->



<script type="text/javascript" src="{% static "js/jquery/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.dynatable.js" %}"></script>

<!-- custom-lib for dynatable.js and dc.js -->
<script type="text/javascript" src="{% static "js/gargantext/Journals_dyna_chart_and_table.js" %}"></script>

{% endblock %}
