
{% extends "pages/menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "lib/bootstrap/3.0.2/bootstrap.css" %}">
<script type="text/javascript" src="{% static "lib/jquery/1.11.1/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "lib/gargantext/garganrest.js" %}"></script>
<link rel="stylesheet" href="{% static "lib/jquery/1.11.2/jquery-ui.css" %}">

<script src="{% static "lib/jquery/1.11.1/jquery.min.js" %}" type="text/javascript"></script>

{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
    <h2>My Graphs  </h2>
        <ol>
        {% for cooc in coocs %}
            <div id="graph_{{cooc.id}}">
                <div class="row">
                    <div class="col-md-1 content"></div>

                    <div class="col-md-5 content">
                        <li>
                            <h5>{{cooc.name}}</h5>
                            {{cooc.date}}
                            {% for key, value in coocs_count.items %}
                                {% if key == cooc.id %}
                                    {% if value > 0 %}

                                    <ul>
                                    <!-- <li>{{cooc.id}}</li> -->
                                        <li>From: {% if not  cooc.hyperdata.start  %} begin of corpus {% else %} {{cooc.hyperdata.start}} {% endif %}
                                            , To:   {% if not  cooc.hyperdata.end    %} end   of corpus {% else %} {{cooc.hyperdata.end}}   {% endif %}
                                        </li>
                                        <li> ~{{ value }} nodes with distances:
                                            <ul>
                                                <li>
                                                <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=conditional&bridgeness=5">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                Conditional
                                                </a>
                                                (with bridgeness
                                                                    <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=conditional&bridgeness=10">10</a>
                                                                    or <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=conditional&bridgeness=20">20</a>
                                                                    or <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=conditional&bridgeness=30">30</a>
                                                            )
                                                            </li>
                                                <li>
                                                <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=distributional&bridgeness=5">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                Distributional
                                                </a>
                                                (with bridgeness
                                                                    <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=distributional&bridgeness=10">10</a>
                                                                    or <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=distributional&bridgeness=20">20</a>
                                                                    or <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=distributional&bridgeness=30">30</a>
                                                            )
                                                </li>
                                            </ul>
                                    </ul>

                                    {% else %}
                                    <!--
                                                <br> Processing (wait and reload the page)
                                     !-->
                                        <div class="progress">
                                            <div class=" progress-bar progress-bar-striped active"
                                                        role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                        <span>
                                                        Processing (wait and reload the page)
                                                        </span>
                                            </div>
                                            </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </li>
                    </div>
                    <div class="col-md-3 content">
                    <!--
                        <a href="/projects/{{project.id}}/corpora/{{corpus.id}}/explorer?cooc_id={{cooc.id}}&distance=conditional"
                            title="View Graph">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </button>

                        </a>
                    --!>

                        <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom"
                                        data-content="
                                        <ul>
                                            <li
                                            onclick=&quot;
                                                    garganrest.nodes.delete({{cooc.id}}, function(){$('#graph_'+{{cooc.id}}).remove()});
                                                    $(this).parent().parent().remove();
                                                &quot;>
                                                <a href='#'>Delete this</a>
                                            </li>
                                        </ul>
                                        ">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                        title='Delete this graph'></span>
                                        </button>

                    </div>

                </div>
            </div>

          {% endfor %}
      </ul>

{% endblock %}
