{% extends "pages/menu.html" with user_parameters%}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "lib/d3/dc.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/jquery/dynatable/jquery.dynatable.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/gargantext/tables.css"%}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/gargantext/charts.css"%}"/>

<style>

#corpuschoose {
    max-width: 75%;
}

input[type="checkbox"].importcheck {
    margin-right: 1em;
}

.announce {
    font-size: 12px ;
    padding-top: .5em;
}

#importsubmit {
    margin-left: 25%;
    padding: .3em .5em;
    font-size: 120% ;
}

#formatinfos {
    background-color: #CCC ;
    font-size: 12px ;
    padding: 1em;
    border-radius: 1em;
    margin: 1.5em;
}

#formatinfos table {
    margin-left: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}

#formatinfos tr:hover {
    font-weight: normal
}

#formatinfos td {
    color: inherit ;
    hover: none ;
}

#formatinfos h4 {
    font-size: 14px;
    color: #777;
    font-weight: bold;
}

#formatinfos p {
    font-size: 14px;
}

em {
    font-weight:bold ;
}

</style>


<script type="text/javascript" src="{% static "lib/d3/d3.js"%}"></script>
<script type="text/javascript" src="{% static "lib/d3/crossfilter.js"%}"></script>
<script type="text/javascript" src="{% static "lib/d3/dc.js"%}"></script>
{% endblock %}


{% block content %}

<div class="container">
    <div class="col-md-3 col-md-offset-2">


        <div class="bs-callout">
            <div class="row">
                <div id="monthly-volume-chart"></div>
            </div>

            <div id="content_loader">
                <br>
                    <center>
                        <img width="10%" src="{% static "img/ajax-loader.gif"%}"></img>
                    </center>
                <br>
            </div>
        </div>
        <div id="monthly-move-chart">
            <center>
                    <p id="terms_time" class="help">Select a score/frequency range in the chart with blue bars to zoom in  <p>
            <p align="center">
            <!--<a class="btn btn-xs btn-default" role="button" href="/chart/corpus/{{ corpus.id }}/data.csv">Save</a>-->
            <a class="btn btn-xs btn-default" href="javascript:volumeChart.filterAll();dc.redrawAll();">Reset</a></p>
            <div class="clearfix"></div>
            </center>
        </div>
    </div>
</div>

<div class="container">
        <!-- (values set by js) caching our DB ids (handy for list update commands) -->
        <input type="hidden" id="mainlist_id" value=""></input>
        <input type="hidden" id="maplist_id" value=""></input>
        <input type="hidden" id="stoplist_id" value=""></input>
        <input type="hidden" id="groups_id" value=""></input>
        <input type="hidden" id="scores_id" value=""></input>

        <div class="jumbotron">
                <div class="panel panel-default">

                    <div class="panel-heading">
                      <h2 class="panel-title">
                        <center>
                          <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span>
                          Extracted terms
                            <!-- <button title='run test function' onclick="doATest()">
                                TEST
                            </button> -->
                        </center>
                      </h2>
                      <div class="savediv pull-left" style="margin-top:1.5em;padding-right:1em;" title="No changes to save">
                          <!-- save/import icon -->
                          <span class="needsaveicon glyphicon glyphicon-import"></span>
                          &nbsp;
                          <!-- save/import button -->
                          <button id="ImportListOrSaveAll" class="btn btn-warning" style="font-size:120%"
                                   onclick="$('#csvimport').modal('show'); document.getElementById('importsubmit').disabled = false ;">
                              <b>Import a Termlist</b>
                          </button>
                      </div>
                        <!-- see in javascript function queries.functions['my_state_filter'] -->
                        <div id="filter_terms" class="pull-right help" style="margin-top:2.1em;padding-left:1em;">
                            <select id="picklistmenu" name="my_state_filter">
                              <option value='reset'>All terms</option>

                              <!-- <option value='1' selected="selected">Map terms only</option> -->
                              <option value='1'>Map terms</option>
                              <option value='0'>Other terms</option>
                              <option value='2'>Stop terms</option>
                            </select>
                            <select id="picktermtype" name="my_termtype_filter" style="margin-left:1em;">
                              <option value='reset'>All types</option>
                              <option value='mono'>One-word terms</option>
                              <option value='multi'>Multi-word terms</option>
                            </select>
                        </div>
                      </h4>
                    </div>


                    <div id="terms_table" class="panel-body">
                      <div id="div-table">
                          <!-- (table id="my-ajax-table") dynamically set by Ngrams_dyna_chart_and_table -->
                      </div>

                      <!-- copy of save button under the table -->
                      <div align="right" class="savediv"  title="No changes to save">
                          <!-- need save status -->
                          <span class="needsaveicon glyphicon glyphicon-floppy-saved"></span>
                          &nbsp;
                          <button id="Save_All_Bottom" class="btn btn-muted" disabled>
                              <b>Save all changes</b>
                          </button>
                      </div>
                    </div>

                </div> <!-- /div panel -->

        </div> <!-- /jumbotron -->

<!--</div> This div is closed in the menu !-->



<div class="modal" aria-hidden="true" id="csvimport">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     <h3 id="myModalLabel">Import a Termlist</h3>
    </div>
    <div class="modal-body" id="uploadform">
        <form id="importform"
              onsubmit="return submitImport(event, this)"
              enctype="multipart/form-data"
              method="post">
            {% csrf_token %}
            <label>From another corpus:</label>
            <select id="corpuschoose" name="corpuschoose">
                <option selected value> -- select a corpus -- </option>
                <!-- lists all corpora of this user -->
                {% for corpusinfo in corporainfos %}
                <option value="{{corpusinfo.id}}">{{corpusinfo.name}}</option>
                {% endfor %}
            </select>
            <br/>
            <p class="announce" onclick="toggleAdvancedCheckboxes()">
                <span
                    id="corpusadvanced-icon"
                    class="glyphicon glyphicon-triangle-right"></span>
                Advanced options
            </p>
            <div id="corpusadvanced" style="display:none;" class="input-group">
                <input type="checkbox" class="importcheck" name="listtypes" id="listtypes-map" value="map" checked>import map terms</input>
                <br/>
                <input type="checkbox" class="importcheck" name="listtypes" id="listtypes-main" value="main">import normal terms</input>
                <br/>
                <input type="checkbox" class="importcheck" name="listtypes" id="listtypes-stop" value="stop">import stoplist terms</input>
            </div>
            <br/>
            <br/>
            <label>From a CSV on your disk:</label>
            <input type="file" id="csvfile" name="csvfile" accept="text/csv">

            <p class="announce" onclick="toggleFormatInfos()">
                <span
                    id="formatinfos-icon"
                    class="glyphicon glyphicon-triangle-right"></span>
                More info about the expected CSV format
            </p>
            <div id="formatinfos" style="display:none;">
                <h4>Example table</h4>
                <table class="table-condensed note">
                    <tr><th>status</th>  <th>label</th>           <th>forms</th></tr>
                    <tr><td>map</td>     <td>barograph</td>        <td></td></tr>
                    <tr><td>map</td>     <td>seafaring</td>        <td>seafarer|&amp;|ocean travel</td></tr>
                    <tr><td>main</td>    <td>electromagnetic</td>  <td>electro-magnetic</td></tr>
                </table>
                <h4>Remarks</h4>
                <ul>
                    <li>Tabulation is the expected delimiter between columns.</li>
                    <li>The only mandatory column is <em>label</em>.</li>
                    <li>If <em>status</em> is absent, default target status is "map"</li>
                    <li>When a column is there, always add its header on the 1st line: <em>status</em>, <em>label</em>, <em>forms</em></li>
                    <li>The label will be always added as a form, even if it's not in 'forms' column</li>
                    <li>The string <em>|&amp;|</em> (3 characters) is the expected delimiter between forms.</li>
                </ul>
            </div>

            <br/>

            <input type="submit" class="btn btn-xs btn-info" id="importsubmit" value="Import and merge with current table" />
        </form>
    </div>
    <div class="modal-footer" id="formanswer"></div>
    </div>
    </div>
</div>

<script type="text/javascript" src="{% static "lib/jquery/dynatable/jquery.dynatable.js" %}"></script>
<!-- custom-lib for dynatable.js and dc.js -->
<script type="text/javascript" src="{% static "lib/gargantext/NGrams_dyna_chart_and_table.js" %}"></script>

<!-- import modal controllers -->
<script type="text/javascript">
var formatInfosOpen = false;
var corpusAdvancedOpen = false;

// declared here to enable inspection
var myFormData ;


function toggleAdvancedCheckboxes() {
    // when already open => we close
    if (corpusAdvancedOpen) {
        // hide div
        $('#corpusadvanced').hide()
        // change icon
        $('#corpusadvanced-icon')[0].classList.remove('glyphicon-triangle-bottom')
        $('#corpusadvanced-icon')[0].classList.add('glyphicon-triangle-right')
        // toggle flag
        corpusAdvancedOpen = false;
    }
    else {
        // opposite case
        $('#corpusadvanced').show()
        $('#corpusadvanced-icon')[0].classList.remove('glyphicon-triangle-right')
        $('#corpusadvanced-icon')[0].classList.add('glyphicon-triangle-bottom')
        corpusAdvancedOpen = true;
    }
}

function toggleFormatInfos() {
    // when already open => we close
    if (formatInfosOpen) {
        // hide div
        $('#formatinfos').hide()
        // change icon
        $('#formatinfos-icon')[0].classList.remove('glyphicon-triangle-bottom')
        $('#formatinfos-icon')[0].classList.add('glyphicon-triangle-right')
        // toggle flag
        formatInfosOpen = false;
    }
    else {
        // opposite case
        $('#formatinfos').show()
        $('#formatinfos-icon')[0].classList.remove('glyphicon-triangle-right')
        $('#formatinfos-icon')[0].classList.add('glyphicon-triangle-bottom')
        formatInfosOpen = true;
    }
}


/*                                             merci c24b !
 * Uses importroute variable from the django template
 * Ex: /api/ngramlists/import?onto_corpus=corpus_id
 *
 * Uses input#csvfile as source data.
 */
function submitImport(e, formElt){
    // don't do page reload of usual submits
    e.preventDefault()

    // parse the form (allows iteration like so: for (kv of myFormData))
    myFormData = new FormData(formElt);

    // user had 2 possibilities
    var theCorpus = myFormData.get("corpuschoose")
    var theFile = myFormData.get("csvfile")

    // console.log(theCorpus)
    // console.log(theFile)

    if (theCorpus && theFile.name) {
        // can't select both!
        my_msg = "Please select a source corpus <em>or</em> choose a source file (not both!)."
    }
    else if (theFile.name) {
        listmergeCsvPost(theFile)
        my_msg = "CSV import in progress..."
    }
    else if (theCorpus) {
        listmergeUpdate(myFormData)
        my_msg = "Internal list import in progress..."
    }
    else {
        my_msg = "Please provide an input source!"
        console.warn('Ignoring "submit": no provided input')
    }

    $('#formanswer').html(
        '<p style="color:#777;font-style:italic">'+my_msg+'</p>'
    );

}

function listmergeUpdate(aFormData){
    // console.log(aFormData)

    // get the selected source corpus
    // ex: "13308"
    var sourceCorpusId = aFormData.get("corpuschoose")

    // get checkbox entries into an array
    // ex: ["map", "stop"]
    var todoLists = aFormData.getAll("listtypes")

    // base url ex: /api/ngramlists/import?onto_corpus=123
    var theUrl = "{{importroute | safe}}"

    // all params are added in the url like a GET
    theUrl += "&from_corpus="+sourceCorpusId
    theUrl += "&todo="+todoLists.join(',')

    // result url looks like this : /api/ngramlists/import?onto_corpus=2&from=13308&todo=map,stop
    // console.log(theUrl)

    // Update request
    $.ajax({
         url: theUrl,
         type: 'PATCH',
         async: true,
         beforeSend: function(xhr) {
           xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
         },
         success: function(response) {
             my_html  = '<h3 style="color:green">IMPORT OK</h3>'
             my_html += "<p class='note'>" + response['log'].replace(/\n/g, '<br/>') + "</p>"
             my_html += "<p'>(this page will reload in 3s)</p>"
             $('#formanswer').html(my_html);
             console.log(response) ;
             // reload after 3s
             setTimeout("location.reload(true)", 3000);
             },
          error: function(result) {
              my_html  = '<h3 style="color:red">Error</h3>'
              my_html += "<p>"+ result.responseJSON['err']+"</p>"
              $('#formanswer').html(my_html);
              console.error(result);
             },
        });
};

function listmergeCsvPost(theFile){
    // 2MB ≈ 70000 ngrams
    var max_size = 2097152

    // debug
    // console.log(theFile.name, "size", theFile.size, theFile.lastModifiedDate)

    if (theFile.size > max_size) {
        console.warn('Ignoring "submit": file is too big')
        $('#formanswer').html(
            'The import failed: your file is too big ('+max_size/1024+'kB max).'
        );
        return false
    }
    // normal case
    else {
        // append into an empty form (all other infos from old form were not for us)
        var myFileFormData = new FormData();
        myFileFormData.append("csvfile", theFile)

        //postCorpusFile
        $.ajax({
             url: "{{importroute | safe}}",
             type: 'POST',
             async: true,
             contentType: false,
             processData: false,
             data: myFileFormData,
             beforeSend: function(xhr) {
               xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
             },
             success: function(response) {
                 my_html  = '<h3 style="color:green">IMPORT OK</h3>'
                 my_html += "<p class='note'>" + response['log'].replace(/\n/g, '<br/>') + "</p>"
                 my_html += "<p'>(this page will reload in 3s)</p>"
                 $('#formanswer').html(my_html);
                 console.log(response) ;
                 // reload after 3s
                 setTimeout("location.reload(true)", 3000);
                 },
              error: function(result, t) {
                  if (t != 'timeout') {
                    my_html  = '<h3 style="color:red">Error</h3>'
                    my_html += "<p class='note'>please correct your CSV file and retry</p>"
                    my_html += "<p>"+ result.responseJSON['err']+"</p>"
                  }
                  else {
                    my_html  = '<h3 style="color:red">Timeout</h3>'
                    my_html += "<p>The CSV import timed out.</p>"
                    my_html += "<p>(This bug is currently being fixed. <br/>The import and indexation are now continuing in background on our servers. Results will show in a few minutes.)</p>"
                    document.getElementById('importsubmit').disabled = true
                  }
                  $('#formanswer').html(my_html);
                  console.error(result);
                 },
              timeout: 15000  // 15s
            });
    }
};
</script>
<!-- <script type="text/javascript" src="{% static "lib/gargantext/help.js" %}"></script> -->


{% endblock %}
