{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gargantext article editor</title>
        <meta name="description" content="Gargantext">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'lib/bootstrap/3.3.6/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'lib/bootstrap-select/1.7.7/css/bootstrap-select.min.css' %}">

        <link rel="stylesheet" href="{% static 'lib/angular/1.2.29/angular-csp.css' %}">
        <link rel="stylesheet" href="{% static 'annotations/app.css' %}">  <!-- todo -->
        <script src="{% static 'lib/jquery/2.2.0/jquery.min.js' %}"></script>
    </head>
    <body>
    <!-- TODO integrate this later into the any other django template -->
    <div id="annotationsApp" ng-cloak>
      <div class="container-fluid">
        <div class="row-fluid main-panel" ng-controller="NGramHighlightController">
          <div ng-if="workflow_finished" class="col-md-4 col-xs-4 tabbable words-panel">
              <div class="list-selector">
                <h5>Select highlighted list(s)
                <select class="selectpicker" multiple ng-change="activeListsChange()" ng-model="lists" ng-controller="ActiveListsController">

                    <option ng-repeat="item in allListsSelect" id="list---{[{item.id}]}" ng-disabled="{[{ item.label == 'MAPLIST' }]}" >{[{item.label}]}</option>

                    <!-- to disallow unchecking MapList add this into <option> element:  ng-disabled="{[{ item.label == 'MAPLIST' }]}" -->

                </select>
                </h5>
                <div class="row spacer"></div>
                <ul class="nav nav-pills nav-justified activelists">
                  <li ng-repeat="(listId, listName) in activeLists" ng-class="{active: $first == true}">
                    <a href="#tab-{[{listId}]}" data-toggle="tab">
                        <span class="{[{listName}]} inlay">{[{listName}]}</span>
                    </a>
                  </li>
                </ul>
              </div>
             <div class="tab-content">
              <div ng-controller="NgramListPaginationController" ng-repeat="(listId, listName) in activeLists" ng-class="{active: $first == true}" class="tab-pane" id="tab-{[{listId}]}">
                <div ng-if="ngramsInPanel[listId].length == 0" class="alert alert-info" role="alert">
                  Input any keyword you want to link to this article and the list named '{[{listName}]}'
                </div>

                <ul class="list-group words-list clearfix">
                  <li ng-repeat="keyword in ngramsInPanel[listId] | startFrom:currentListPage * pageSize | limitTo:pageSize" class="keyword-group-item">
                    <div ng-controller="NgramController" keyword-template class="keyword-container"></div>
                  </li>
                </ul>

                <nav ng-class="{invisible: totalListPages(listId) - 1 == 0}" class="clearfix">
                  <ul class="pagination pagination-s pull-right words-pagination">
                    <li ng-class="{'disabled': currentListPage == 0}"><a ng-click="previousListPage()" class="glyphicon glyphicon-backward"></a></li>
                    <li ng-class="{'disabled': currentListPage >= totalListPages(listId) - 1}"><a ng-click="nextListPage()" class="glyphicon glyphicon-forward"></a></li>
                  </ul>
                </nav>
                <div id="addfreengram" class="form-group" ng-controller="NgramInputController">
                  <label for="{[{listId}]}-input">Add a free term to <span class="{[{listName}]} inlay">{[{listName}]}</span>:</label>
                  <input autosave="search" maxlength="240" placeholder="Any text" type="text" class="form-control" id="{[{listId}]}-input" ng-keypress="onListSubmit($event, listId)">
                  <button type="submit" class="form-control btn btn-default" ng-click="onListSubmit($event, listId)">Create &amp; add</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-xs-8 text-panel" ng-controller="DocController" id="document">
            <div class="row-fluid clearfix">
            <div class="col-md-10 col-xs-10">
              <h3 class="text-container" id="title">{[{title}]}</h3>
            </div>
            <div class="col-md-2 col-xs-2 clearfix">
                <button ng-controller="DocFavoriteController" type="button" class="btn btn-default float-right" ng-click="onStarClick($event)">
                  <span class="glyphicon" ng-class="{'glyphicon-star-empty': isFavorite == false, 'glyphicon-star favactive': isFavorite == true}"></span>
                </button>
              <!--<nav>
                <ul class="pager">
                  <li ng-if="current_page_number > 1"><a ng-click="onPreviousClick()" href="#">Previous</a></li>
                  <li ng-if="current_page_number < last_page_number"><a ng-click="onNextClick()" href="#">Next</a></li>
                </ul>
            </nav>-->
            </div>
            </div>
            <div class="row-fluid">
              <ul class="list-group clearfix">
                <li class="list-group-item small"><span class="badge">source</span>{[{source || '&nbsp;'}]}</li>
                <li class="list-group-item small"><span class="badge">authors</span>{[{authors || '&nbsp;'}]}</li>
                <li class="list-group-item small"><span class="badge">date</span>{[{publication_date || '&nbsp;'}]}</li>
              </ul>
            </div>

            <div ng-if="dataLoading">
                Loading text...
                <br>
                  <center>
                    <img width="10%" src="{% static 'img/ajax-loader.gif'%}"></img>
                  </center>
                <br>
            </div>

            <div ng-if="abstract_text != null">
                <span class="badge">abstract</span>
            </div>
            <p id="abstract-text" class="text-container">
                {[{abstract_text}]}
                <div ng-if="abstract_text == null" class="alert alert-info small" role="alert">Empty abstract text</div>
            </p>
            <div ng-if="full_text != null">
                <span class="badge">full article</span>
            </div>
            <p id="full-text" class="text-container">
                {[{full_text}]}
                <div ng-if="full_text == null" class="alert alert-info small" role="alert">Empty full text</div>
            </p>
          </div>
        </div> <!-- end of the main row -->
      </div>
      <!-- this menu is over the text on mouse selection -->
      <div ng-controller="TextSelectionMenuController" id="selection" class="selection-menu">
        <ul class="noselection">
          <li ng-repeat="item in menuItems"
              class="{[{item.tgtListName}]}"
              ng-click="onMenuClick($event, item.crudCalls)"
              >{[{item.comment ? item.comment : 'Move to ' + item.tgtListName}]}</li>
        </ul>
      </div>
    </div>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
  <script type="application/javascript">
    /* Constants required for annotations app JS to work */
    window.STATIC_URL = "{% static '' %}";
    window.ANNOTATION_API_URL = "{{ api_url }}";
    window.GARG_ROOT_URL = "{{ garg_url }}";
    window.NODES_API_URL = "{{ nodes_api_url }}";
  </script>
  <script src="{% static 'annotations/main.js' %}"></script>

  </body>
</html>
