{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
{% endblock %}

{% block content %}

<div class="container theme-showcase" role="main">
	<div class="jumbotron">
			<h1> Exploration page</h1>

	</div>
</div>


<div class="container content">
		<div class="graph">
        <div class="graphWidget">
            <h1>Bees vs. Honey</h1>
            <select name="x">
                <option value="year">X axis: year of publication</option>
            </select>
            <select name="y" style="margin-top:0">
                <option value="frequency">Y axis: term frequency</option>
            </select>
            <select name="view">
                <option value="line">View mode: curve</option>
                <option value="histogram">View mode: histogram</option>
            </select>
            <div class="graph"></div>
        </div>
    </div>
</div>


				<script type="text/javascript" src="{% static "js/charts/raphael.js"%}"></script>
				<script type="text/javascript" src="{% static "js/charts/plot.js"%}"></script>
				<script type="text/javascript" src="{% static "js/charts/jquery.js"%}"></script>
				<script type="text/javascript" src="{% static "js/charts/script.js"%}"></script>


{% endblock %}
