{% extends "menu.html" %}


{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="http://jun9.github.io/dc.js/css/dc.css" />
{% endblock %}



{% block content %}
    <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>Gargantext</h1>
                <p>A web platform to explore text-mining</p>
            </div>
    </div>
    <div class="container graph-it"></div>

    <script type="text/javascript" src="{% static "js/jquery/jquery.min.js" %}"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    
    <script type="text/javascript" src="{% static "js/graph-it.js" %}"></script>
        

{% endblock %}