
{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
        <div class="jumbotron">
						<h1>My {{number}} projects</h1>
						<p>Template showing my working space</p>
						<a class="btn btn-primary btn-lg" role="button" href="/admin/documents/project/add/">Add a project</a>
        </div>
</div>

<div class="container">
    <div class="row">
								{% if projects %}
										{% for project in projects %}
										<!--<div class="col-md-offset-7 col-md-4 content" style="background-color:grey">!-->
										<div class="col-md-4 content">
												<h3><a href="/project/{{ project.id }}">{{ project.title }}</a></h3>
												<h4>{{ project.subtitle }}<h4>
												<h5>Completed:</h5>
												<div class="chart" barColor="#fffff" data-percent="15">15%</div>
										</div>
										{% endfor %}
								{% endif %}
        
    </div>
</div>

{% endblock %}
