<div class="container">
		<div class="row">
				<div class="col-md-4">
						<div class="jumbotron">
								<h3><a href="/graph-it">1) Documents</a></h3>
						<ol>
								<li>Read</li> <!-- write -->
								<li>Count</li> <!-- compute -->
								<li>Select</li> <!-- cut -->
						</ol>
					</div>
				</div>

				<div class="col-md-4">
						<div class="jumbotron">
								<h3><a href="/graph">2) Ngrams</a></h3>
						<ol>
								<li>White Lists</li>
								<li>Black Lists</li>
								<li>Synonyms</li>
						</ol>
						</div>
				</div>

				<div class="col-md-4">
						<div class="jumbotron">
						<h3><a href="/graph">3) Visualizations</a></h3>
						<ol>
								<li>Matrix</li>
								<li>Static maps</li>
								<li>Dynamics maps</li>
						</ol>
						</div>
				</div>
		</div>
</div>


