{% extends "menu.html" %}

{% block css %}
    <!-- {% load staticfiles %} -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
{% endblock %}



{% block content %}
    <div class="container theme-showcase" role="main">
            <div class="jumbotron">
                <h1>Ngrams selection</h1>
                <p>Remove the words</p>
            </div>
    </div>



<div class="container">
		{% if ngrams %}
		<form>
		{% for ngram in ngrams %}
		<INPUT type="checkbox" name="{{ ngram }}" value="{{ ngram }}"> {{ ngram }} <br>
		{% endfor %}
		</form>
		{% endif %}
		<a class="btn btn-primary btn-lg" role="button" href="/admin/documents/corpus/{{ corpus.pk }}/">Save</a> 
</div>



		
		<div class="container">
		<div class="row">
				<div class="col-md-4">
						<div class="jumbotron">
								<h3><a href="/graph-it">1) Documents</a></h3>
						<ol>
								<li>Read</li> <!-- write -->
								<li>Count</li> <!-- compute -->
								<li>Select</li> <!-- cut -->
						</ol>
					</div>
				</div>

				<div class="col-md-4">
						<div class="jumbotron">
								<h3><a href="/ngrams">2) Ngrams</a></h3>
						<ol>
								<li>White Lists</li>
								<li>Black Lists</li>
								<li>Synonyms</li>
						</ol>
						</div>
				</div>

				<div class="col-md-4">
						<div class="jumbotron">
						<h3><a href="/graph">3) Visualizations</a></h3>
						<ol>
								<li>Matrix</li>
								<li>Static maps</li>
								<li>Dynamics maps</li>
						</ol>
						</div>
				</div>
		</div>
</div>


<!-- 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
 -->

    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <script type="text/javascript" src="{% static "js/jquery/jquery.min.js" %}"></script>

{% endblock %}




