
{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
        <div class="jumbotron">
				<div class="row">
        <div class="col-md-3">
						<h1>My {{number}} projects</h1>
						<p>Template showing my working space</p>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
        <div class="col-md-4">
		<form enctype="multipart/form-data" action="/projects/" method="post">
    {% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.as_p}}
		<input type="submit" value="Add project" />
</form>
        </div>
        </div>
        </div>
        </div>
</div>

<div class="container">
    <div class="row">
								{% if projects %}
										{% for project in projects %}
										<!--<div class="col-md-offset-7 col-md-4 content" style="background-color:grey">!-->
										<div class="col-md-3 content">
												<h3><a href="/project/{{ project.id }}">{{ project.name }}</a></h3>
														<button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<a href="/project/{{ project.id }}/delete">Yes, I am sure!</a>'>Delete</button>

												<h4>{{ project.subtitle }}<h4>
												<h5>Completed:</h5>
												<div class="chart" barColor="#fffff" data-percent="75">75%</div>
										</div>
										{% endfor %}
								{% endif %}
        
    </div>
</div>

{% endblock %}
