
{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

<script src="{% static "js/jquery/jquery.min.js" %}" type="text/javascript"></script>
{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
  <div class="jumbotron">
						<h1>My {{number}} projects</h1>
						<p>Template showing my working space</p>
				<p>
				<button 
								type="button" 
								class="btn btn-primary btn-lg" 
								data-container="body" 
								data-toggle="popover" 
								data-placement="bottom"
				>Add a project</button>
								<div id="popover-content" class="hide">
										<form enctype='multipart/form-data' action='/projects/' method='post'>{% csrf_token %}{{ form.non_field_errors }}{{ form.as_p}}<input type='submit' class="btn" value='Add this project !'/></form>
								</div>
				</p>
  </div>
</div>

<div class="container">
    <div class="row">
								{% if projects %}
										{% for project in projects %}
										<!--<div class="col-md-offset-7 col-md-4 content" style="background-color:grey">!-->
										<div class="col-md-3 content">
												<h3><a href="/project/{{ project.id }}">{{ project.name }}</a>
														<button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<a href="/project/{{ project.id }}/delete">Yes, I am sure!</a>'>Delete</button>
												</h3>

												<h4>{{ project.subtitle }}<h4>
												<!-- 
												<h5>Completed:</h5>
												<div class="chart" barColor="#fffff" data-percent="75">75%</div>
												--!>
										</div>
										{% endfor %}
								{% endif %}
        
    </div>
</div>

{% endblock %}
