
{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">


{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
        <div class="jumbotron">
				<div class="row">
        <div class="col-md-3">
            {% if project %}
            <h1>{{ project.name }}</h1>
            <h3> {{number}} corpora </h3>
            {% endif %}
        </div>

        <div class="col-md-4">
				<button 
								type="button" 
								class="btn btn-primary btn-lg" 
								data-container="body" 
								data-toggle="popover" 
								data-placement="bottom"
				>Add corpus</button>
								<div id="popover-content" class="hide">

					<form enctype="multipart/form-data" action="/project/{{project.id}}/" method="post">
    {% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.as_p}}
		
		{{ formResource.non_field_errors }}
		{{ formResource.as_p}}
		<input type="submit" value="Add Corpus" />
</form>


								</div>
		        </div>
        </div>


        </div>
        </div>
</div>
<!-- Add jumbotron container for each type of corpus (presse, science etc.) --!>

<div class="container">
    <div class="row">
								{% if board  %}
										{% for corpus in board %}
										<div class="col-md-4">
                        <h3><a href="/project/{{project.id}}/corpus/{{corpus.id}}">{{corpus.name}}</a>
												<button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<a href="/project/{{ project.id }}/corpus/{{ corpus.id}}/delete">Delete it!</a>'>Manage</button>

												
												
												</h3>
												<h4>{{ corpus.count }} Documents </h4>
                        <p>{{ corpus.language }} {{ corpus.database}}</p>
												<h5>Activity:</h5>
												<div class="chart" data-percent="73">73%</div>

										</div>
										{% endfor %}
								{% endif %}
        
    </div>
</div>

{% endblock %}
