
{% extends "menu.html" %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/morris.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.easy-pie-chart.css"%}">
<script type="text/javascript" src="{% static "js/jquery/jquery.min.js" %}"></script>

<script src="{% static "js/raphael-min.js"%}"></script>
<script src="{% static "js/morris.min.js"%}"></script>


{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">
        <div class="jumbotron">
				<div class="row">
        <div class="col-md-6">
            {% if project %}
            <h1>{{ project.name }}</h1>
            <h3> {{number}} corpora </h3>
            {% endif %}
        </div>

        <div class="col-md-4">
				<p>
				{% if donut %}
	  		<div id="hero-donut" style="height: 200px;"></div>
				{% endif %}
        <center>
            <button 
								type="button" 
								class="btn btn-primary btn-lg" 
								data-container="body" 
								data-toggle="popover" 
								data-placement="bottom"
								>Add a corpus</button>
								<div id="popover-content" class="hide">

					<form enctype="multipart/form-data" action="/project/{{project.id}}/" method="post">
    {% csrf_token %}
		{{ form.non_field_errors }}
		{{ form.as_p}}
		
		{{ formResource.non_field_errors }}
		{{ formResource.as_p}}
		<input type="submit" class="btn" value="Add this corpus" />
</form>
    </center>
				</p>

								</div>
		        </div>

        </div>


        </div>
        </div>
</div>
<!-- Add jumbotron container for each type of corpus (presse, science etc.) --!>

<div class="container">
				<h1>Resources</h1>
				<h2>Corpora</h2>
								{% if list_corpora  %}
										<ul>
										{% for key, corpora in list_corpora.items %}
										<li>{{ key }}</li>
												<ul>
														{% for corpus in corpora %}
																<li> 
																		<a href="/project/{{project.id}}/corpus/{{corpus.id}}">{{corpus.name}}</a>
																		, {{ corpus.count }} Documents 
																		<button type="button" class="btn btn-xs btn-default" data-container="body" data-toggle="popover" data-placement="bottom" 
																		data-content='
																		<ul>
																		<li> Add documents </li>
																		<li> Rename </li>
																		<li><a href="/project/{{ project.id }}/corpus/{{ corpus.id}}/delete">Delete</a></li>
																		</ul>
																		'>Manage</button>
																</li>
														{% endfor %}
												</ul>
										{% endfor %}
										</ul>
								{% endif %}


								{% if list_corporax  %}
										<div class="col-md-4">
                        <h3><a href="/project/{{project.id}}/corpus/{{corpus.id}}">{{corpus.name}}</a>
												</h3>
												<h4>{{ corpus.count }} Documents </h4>
												<h5>Activity:</h5>
												<div class="chart" data-percent="73">73%</div>
										</div>
								{% endif %}
				
				<h2>Lists of Ngrams</h2>
						{% if whitelists  %}
						<h3>White Lists</h2>
								{% for list in whitelists %}
										<ul>
                    <li> {{list.name }}
										</ul>
								{% endfor %}
						{% endif %}
						
            {% if whitelists  %}
						<h3>Black Lists</h2>
								{% for list in blacklists %}
										<ul>
                    <li> {{list.name }}
										</ul>
								{% endfor %}
						{% endif %}
						

				
				<h2>Results (graphs)</h2>
             {% if cooclists  %}
						<h3>Cooccurrences Lists</h2>
								{% for list in cooclists %}
										<ul>
                    <li> {{list.name }}
										</ul>
								{% endfor %}
						{% endif %}
			  
</div>


<script>
        // Morris Donut Chart
        Morris.Donut({
            element: 'hero-donut',
            data: [
            {% if donut %}
            {% for part in donut %}
						{label: '{{ part.source }}', value: {{ part.part }} },
            {% endfor %}
            {% endif %}

            ],
            colors: ["@white", "@white"],
            //colors: ["#30a1ec", "#76bdee"],
            formatter: function (y) { return y + "%" }
        });
</script>




{% endblock %}
