/* styles for dynatables */

.no-transition {
  -webkit-transition: height 0.1s;
  -moz-transition: height 0.1s;
  -ms-transition: height 0.1s;
  -o-transition: height 0.1s;
  transition: height 0.1s;
}
th { color: #fff; }

th a {
  color: #fff;
  font-weight: bold;
  font-size: 0.9em;
}

.dynatable-record-count {
  font-size: 0.7em;
}
.dynatable-pagination-links {
  font-size: 0.7em;
}

#corpusdisplayer {
    width:200px;
    margin:0 auto;
    display:block;
}


/* notes under table titles */
th .note {
    color: #ccc;
}

td .note {
    color: #444;
}

span.note {
  font-size: 10px;
  color: #333;
}

p.note {
  font-size: 0.6em;
  margin: 1em 0 0 0 ;
}

p.note > input {
  float: left;
  margin: 0 .2em 0 0 ;
}

p.note > label {
  float: left;
}

.note.greyed {
  opacity: 0.2;
}

tr:hover {
  cursor: pointer;
  font-weight: bold;
}

/* ngram states */
.normal {
  color: black;
}

.delete {
  color:red;
  opacity: 0.8;
}
.keep {
  color:green;
}

.group {
  color:white;
  pointer-events: none;
  cursor: default;
}

/* group box row on top of table with + */
#group_box {
  font-size: 90%;
}

#group_flag {
  font-size: 0.7em;
  margin-top: 3em;
  margin-bottom: 1em;
}

#group_box_mainform {
    margin-bottom: 0;
    line-height: 1 ;
    margin-left: .05em ;
}

#group_box_content {
    line-height: 1 ;
    margin-bottom: 1em;
}

.oldsubform {
    color: #777 ;
}

.usersubform {
    color: blue ;
}

.dynatable-record-count {
  font-size: 0.7em;
}
.dynatable-pagination-links {
  font-size: 0.7em;
}

input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

input[type=radio]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}
