{% extends "pages/menu.html" %}
{% load staticfiles %}

{% block css %}

<script src="{% static "lib/jquery/1.11.1/jquery.min.js" %}" type="text/javascript"></script>

{% endblock %}



{% block content %}

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>About Gargantext</h1>
    </div>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseVersions">
                        <center>
                            <h2>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                Versions
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </h2>
                        </center>
                    </a>
                </h2>
            </div>
            <div id="collapseVersions" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="container">
                        <ul>
                            <li>
                                Versions 3.*
                                <ul>
                                    <li>[NAME] Blue Jasmin</li>
                                    <li>[CODE] Refactored</li>
                                    <li>[DATABASE] New schema</li>
                                    <li>[INSTALL] Easy Docker</li>
                                </ul>
                            </li>
                            <li>
                                Versions 2.*
                                <ul>
                                    <li>[NAME] Red Lemon</li>
                                    <li>[NLP] Turbo Parser, MELT</li>
                                    <li>[FEATURE] Ngrams Table management</li>
                                    <li>[FEATURE] Annotation local view</li>
                                    <li>[FEATURE] Lexical Graph with temporal filter</li>
                                    <li>[FEATURE] Graph bi-Partite</li>
                                </ul>
                            </li>
                            <li>
                                Versions from 1.0 to 1.9
                                <ul>
                                    <li>[NAME] Rose Bonbon</li>
                                    <li>[Law] Licence of Gargantext is (and will be for next versions) AGPL</li>
                                    <li>[NLP] Turbo Parser, TreeTagger</li>
                                    <li>[FEATURE] Advanced Chart</li>
                                    <li>[FEATURE] Remove duplicates</li>
                                </ul>
                            </li>
                            <li>
                                Versions from 0.1 to 0.9
                                <ul>
                                    <li>[NAME] Black Salade</li>
                                    <li>[Law] Licence of Gargantext is GPL v3+ </li>
                                    <li>[NLP] NLTK, TreeTagger</li>
                                    <li>[FEATURE] Graph Explorer</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCommunity">
                        <center>
                            <h2>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                Community
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </h2>
                        </center>
                    </a>
                </h2>
            </div>
            <div id="collapseCommunity" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="container">
                        <ul>
                            <li>
                                Newsletters : <a target="blank" href="https://phplist.iscpif.fr/?p=subscribe&id=2">subscribe</a>
                            </li>
                            <li>
                                Mailing-lists
                                <ul>
                                    <li>User mailing-list: soon </li>
                                    <li>Devel mailing-list: soon</li>
                                </ul>
                            </li>
                            <li>
                                Code and repository access
                                <ul>
                                    <li>You are free to participate. Present yourself on mailing-lists or irc.</li>
                                </ul>
                            </li>
                            <li>
                                IRC
                                <ul>
                                    <li>#gargantext on OFTC:</li>
                                    <li>
                                        <p><iframe src="http://webchat.oftc.net/?channels=#gargantext" width="500" height="350"></iframe></p>
                                        <p>If the window is too small, just click <a href="http://webchat.oftc.net/?channels=#gargantext">here</a></p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if team %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTeam">
                        <center>
                            <h2>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                Core team
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </h2>
                        </center>
                    </a>
                </h2>
            </div>
            <div id="collapseTeam" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="thumbnails">
                                {% for member in team %}
                                <div class="col-md-5 ">
                                    <div class="thumbnail">
                                        {% if member.picture %}
                                        <img src="{% static "img/credits/"%}{{ member.picture }}" style="100px; height:150px">
                                        {% else %}
                                        <img src="{% static "img/logo.png" %}" style="100px; height:150px">
                                        {% endif %}
                                        <div class="caption">
                                            <center>
                                            <h3>{{ member.first_name }} {{member.last_name }}</h3>
                                            {% if member.role %}
                                            <p class="description">{{ member.role }}</p>
                                            {% endif %}
                                            {% if member.mail %}
                                            <a href="mailto:{{ member.mail }}" class="btn btn-primary btn-xs">Mail</a>
                                            {% endif %}
                                            {% if member.website %}
                                            <a href="{{ member.website }}" class="btn btn-primary btn-xs">Website</a>
                                            {% endif %}
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}

        {% if teamPast %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTeamPast">
                        <center>
                            <h2>
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                Former Developers
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </h2>
                        </center>
                    </a>
                </h2>
            </div>
            <div id="collapseTeamPast" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="thumbnails">
                                {% for member in teamPast %}
                                <div class="col-md-5 ">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <center>
                                            <h3>{{ member.first_name }} {{member.last_name }}</h3>
                                            {% if member.role %}
                                            <p class="description">{{ member.role }}</p>
                                            {% endif %}
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
            
            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading">
                <center>

                    <h2 class="panel-title">Institutional, research and financial support</h2>

                    <h3>Host institutions</h3>
                    <a href="http://www.cnrs.fr" target="_blank" >
                        <img src="{% static "img/credits/cnrs.png"%}" alt="CNRS"  style="height:100px">
                    </a>
                    <a href="http://www.iscpif.fr" target="_blank" >
                        <img src="{% static "img/credits/iscpif.svg"%}" style="height:100px">
                    </a>
                    <a href="http://cams.ehess.fr" target="_blank" >
                        <img src="{% static "img/credits/cams.jpg"%}" style="height:100px">
                    </a>

                    <h3>Institutional Partners</h3>
                    <p>
                        {% for institution in institutions %}
                        <a href="{{ institution.website }}" target="_blank" >
                            <img src="{% static "img/credits/"%}{{ institution.picture }}" style="height:100px">
                        </a>
                        {% endfor %}
                    </p>


                    <h4>Laboratory Partners</h4>
                    <p>
                        {% for labo in labos %}
                        <a href="{{ labo.website }}" target="_blank" >
                            <img src="{% static "img/credits/"%}{{ labo.picture }}" style="height:50px">
                        </a>
                        {% endfor %}
                    </p>


                    <h4>Grants</h4>
                    {% for grant in grants %}
                    <a href="{{ grant.website }}" target="_blank" >
                        <img src="{% static "img/credits/"%}{{ grant.picture }}" style="height:100px">
                    </a>
                    {% endfor %}
                </center>
            </div>
        </div>

    </div>


{% endblock %}
